<h1 class="bg-dark text-center text-warning pb-3 pt-2">
  Repo*<span class="text-light">Viewer</span>~<span>v2</span>
</h1>
<h4 *ngIf="menuOpen === 'commitFinder'" 
class="text-center" (click)="menuOpen = 'repoFinder'">
  <i style="cursor: pointer;" class="material-icons">reply</i>
</h4>

<!--'receiveSelectedRepo'in app.component receives the data when 'selectRepoEvent' 
  is emitted within repo-finder in the function 'selectRepo()'-->
<app-repo-finder *ngIf="menuOpen === 'repoFinder'" 
(selectRepoEvent)="receiveSelectedRepo($event)"
></app-repo-finder>

<!--Using the variables passed from repo-finder to app.component -
  the data is being passed down to commit-item and adding a new div element 
  for each commit within the object/repo -->
<div *ngIf="menuOpen === 'commitFinder'" class="container text-center">
  <h3>{{selectedRepo}}</h3>
  <app-commit-item *ngFor="let item of gitCommits; index as i" [gitCommits]="item" [i]="i"></app-commit-item>
</div>