#errorMsg {
    width: 250px;
}

ul {
    list-style-type: none;
    padding: 0;
}

input:-webkit-autofill {
    box-shadow:0 0 0 50px white inset;
}

a:hover{
    cursor: pointer;
    background-color: rgb(255, 187, 0);
}