<div class="container text-center">
  <form (submit)="onSubmit()" #gitForm="ngForm">
    <h4 class="mt-4">GitHub Profile</h4>
    <input class="w-75 py-1 text-center" type="text" name="gitProfile" [(ngModel)]="gitProfile" ><br>
    <button class="btn btn-warning w-75 mt-2" type="submit"><b>Go</b></button>
  </form>
</div>
<hr class="mt-4 bg-dark" style="width:100px;">
<div id="errorMsg" class="container bg-danger text-light text-center" *ngIf="errorMsg"><b>Error: User does not exist</b></div>
<div class="container text-center mt-4" *ngIf="repositories">
  <h3><u>Repositories</u></h3>
  <p class="text-muted"><i>Click on a repo for more detail</i></p>
  <ul>
    <li *ngFor="let repo of repositories"><a id="{{repo.name}}" (click)="selectRepo($event)">{{repo.name}}</a></li>
  </ul>
</div>